<div class="component__inner hotgrid__inner" role="region" aria-label="{{_globals._components._hotgrid.ariaRegion}}" {{#if _globals._components._hotgrid.ariaRegion}}tabindex="0"{{/if}}>
  {{> component this}}
  <div class="component__widget hotgrid__widget">

    <div class="hotgrid__grid">
      <div class="hotgrid__grid-inner clearfix">

        {{#each _items}}
        <div class="hotgrid__grid-item">

          <button class="base hotgrid__grid-item-image hotgrid__grid-item-states-{{#if _graphic.hasImageStates}}image{{else}}css{{/if}} {{#if _isVisited}}visited{{/if}} {{#if ../_hasRoundedImages}}border-radius{{/if}}" aria-label="{{#if _graphic.title}}{{_graphic.title}}.{{/if}}{{#if _graphic.alt}} {{_graphic.alt}}.{{/if}}{{#if _isVisited}} {{../_globals._accessibility._ariaLabels.visited}}.{{/if}}">
            <img src="{{_graphic.src}}"/>

            {{#if _graphic.hasImageStates}}
            <img src="{{_graphic.srcHover}}" class="hotgrid__grid-item-image-hover"/>
            <img src="{{_graphic.srcVisited}}" class="hotgrid__grid-item-image-visited"/>
            {{/if}}

            {{#if _graphic.title}}
            <div class="hotgrid__grid-item-title">
              <div class="hotgrid__grid-item-title-inner">
                {{{_graphic.title}}}
              </div>
            </div>
            {{/if}}

          </button>

        </div>
        {{/each}}

      </div>
    </div>

  </div>
</div>
